In [56]:
import pandas as pd
import plotly.express as px

In [94]:
import chart_studio.plotly as py
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot
import plotly.offline as po
init_notebook_mode(connected=True)

In [58]:



df = pd.read_csv('State UT and School-wise Pupil teacher ratio (PTR) for 2008-2022.csv')
df.head()

,States/Union Territories,Higher Secondary (11-12),Secondary (9-10),Upper Primary (6-8),Primary (1 to 5),Year
0,Andhra Pradesh,34.0,32.0,26.0,31.0,2008-09
1,Arunachal Pradesh,29.0,23.0,25.0,22.0,2008-09
2,Assam,27.0,20.0,20.0,30.0,2008-09
3,Bihar,46.0,56.0,51.0,72.0,2008-09
4,Chhattisgarh,28.0,27.0,30.0,38.0,2008-09

In [59]:
df.columns

Index(['States/Union Territories', 'Higher Secondary (11-12)',
       'Secondary (9-10)', 'Upper Primary (6-8)', ' Primary (1 to 5)', 'Year'],
      dtype='object')

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   States/Union Territories  182 non-null    object
 1   Higher Secondary (11-12)  179 non-null    float64
 2   Secondary (9-10)          178 non-null    float64
 3   Upper Primary (6-8)       179 non-null    float64
 4    Primary (1 to 5)         175 non-null    float64
 5   Year                      182 non-null    object
dtypes: float64(4), object(2)
memory usage: 8.7+ KB

In [61]:
df[df['States/Union Territories']=='Gujarat']

,States/Union Territories,Higher Secondary (11-12),Secondary (9-10),Upper Primary (6-8),Primary (1 to 5),Year
6,Gujarat,39.0,31.0,35.0,NaN,2008-09
42,Gujarat,41.0,29.0,35.0,NaN,2009-10
78,Gujarat,52.0,33.0,35.0,NaN,2010-11
114,Gujarat,33.0,45.0,36.0,NaN,2011-2012
155,Gujarat,28.0,29.0,25.0,30.0,2021-2022

In [62]:
# df["Primary (1 to 5)"] = df[[' Primary (1 to 5)',"States/Union Territories"]].groupby("States/Union Territories").transform(lambda x: x.fillna(x.mean()))

In [63]:
df.columns

Index(['States/Union Territories', 'Higher Secondary (11-12)',
       'Secondary (9-10)', 'Upper Primary (6-8)', ' Primary (1 to 5)', 'Year'],
      dtype='object')

In [64]:
df[df['States/Union Territories']=='Gujarat']

,States/Union Territories,Higher Secondary (11-12),Secondary (9-10),Upper Primary (6-8),Primary (1 to 5),Year
6,Gujarat,39.0,31.0,35.0,NaN,2008-09
42,Gujarat,41.0,29.0,35.0,NaN,2009-10
78,Gujarat,52.0,33.0,35.0,NaN,2010-11
114,Gujarat,33.0,45.0,36.0,NaN,2011-2012
155,Gujarat,28.0,29.0,25.0,30.0,2021-2022

In [65]:
df[' Primary (1 to 5)'] = df[' Primary (1 to 5)'].fillna(df.groupby('States/Union Territories')[' Primary (1 to 5)'].transform('mean'))
df['Higher Secondary (11-12)'] = df['Higher Secondary (11-12)'].fillna(df.groupby('States/Union Territories')['Higher Secondary (11-12)'].transform('mean'))
df['Secondary (9-10)'] = df['Secondary (9-10)'].fillna(df.groupby('States/Union Territories')['Secondary (9-10)'].transform('mean'))
df['Upper Primary (6-8)'] = df['Upper Primary (6-8)'].fillna(df.groupby('States/Union Territories')['Upper Primary (6-8)'].transform('mean'))

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   States/Union Territories  182 non-null    object
 1   Higher Secondary (11-12)  182 non-null    float64
 2   Secondary (9-10)          182 non-null    float64
 3   Upper Primary (6-8)       182 non-null    float64
 4    Primary (1 to 5)         182 non-null    float64
 5   Year                      182 non-null    object
dtypes: float64(4), object(2)
memory usage: 8.7+ KB

In [67]:
df

,States/Union Territories,Higher Secondary (11-12),Secondary (9-10),Upper Primary (6-8),Primary (1 to 5),Year
0,Andhra Pradesh,34.0,32.0,26.0,31.0,2008-09
1,Arunachal Pradesh,29.0,23.0,25.0,22.0,2008-09
2,Assam,27.0,20.0,20.0,30.0,2008-09
3,Bihar,46.0,56.0,51.0,72.0,2008-09
4,Chhattisgarh,28.0,27.0,30.0,38.0,2008-09
...,...,...,...,...,...,...
177,Tripura,15.0,14.0,20.0,18.0,2021-2022
178,Uttar Pradesh,39.0,27.0,25.0,28.0,2021-2022
179,Uttarakhand,17.0,11.0,16.0,19.0,2021-2022
180,West Bengal,28.0,17.0,28.0,27.0,2021-2022
181,INDIA,27.0,18.0,19.0,26.0,2021-2022

In [68]:
states = df['States/Union Territories'].unique().tolist()
states

['Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chhattisgarh',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal',
 'Andaman and Nicobar Islands',
 'Chandigarh',
 'Dadra and Nagar Haveli',
 'Daman and Diu',
 'Delhi',
 'Lakshadweep',
 'Puducherry',
 'INDIA',
 'Ladakh',
 'Telangana']

In [69]:
year = df['Year'].unique().tolist()
year

['2008-09', '2009-10', '2010-11', '2011-2012', '2021-2022']

In [70]:
import pandas as pd
import streamlit as st
import plotly.express as px
from PIL import Image

In [71]:
df_unpivot = pd.melt(df, id_vars=['States/Union Territories','Year'], value_vars=['Higher Secondary (11-12)',
       'Secondary (9-10)', 'Upper Primary (6-8)', ' Primary (1 to 5)'],var_name='Education_Level', value_name='Ratio')

In [72]:
df_unpivot.columns

Index(['States/Union Territories', 'Year', 'Education_Level', 'Ratio'], dtype='object')

In [73]:
max(df_unpivot['Ratio'])

255.0

In [74]:
# df_unpivot.to_excel('unpivit.xlsx')

In [75]:
df_grouped=df_unpivot.groupby('Education_Level',as_index=False)[['Ratio']].mean() 
df_grouped

            Education_Level      Ratio
0          Primary (1 to 5)  30.818681
1  Higher Secondary (11-12)  28.846154
2          Secondary (9-10)  26.918956
3       Upper Primary (6-8)  26.777473

In [99]:
 
df_grouped['Ratio'].astype(int)

0    30
1    28
2    26
3    26
Name: Ratio, dtype: int64

In [90]:
bar_chart = px.bar(df_grouped, 
             x='Education_Level', 
             y='Ratio',
             text='Ratio',
             color_discrete_sequence =['#F63366']*len(df_grouped),
             template= 'plotly_white')

In [95]:
bar_chart = po.bar(df_grouped, 
             x='Education_Level', 
             y='Ratio')

AttributeError: module 'plotly.offline' has no attribute 'bar'

In [87]:
df_unpivot.groupby(['Education_Level','Year'],as_index=False)[['Ratio']].mean()

             Education_Level       Year      Ratio
0           Primary (1 to 5)    2008-09  35.638889
1           Primary (1 to 5)    2009-10  32.777778
2           Primary (1 to 5)    2010-11  32.666667
3           Primary (1 to 5)  2011-2012  31.222222
4           Primary (1 to 5)  2021-2022  22.263158
5   Higher Secondary (11-12)    2008-09  31.027778
6   Higher Secondary (11-12)    2009-10  30.277778
7   Higher Secondary (11-12)    2010-11  28.500000
8   Higher Secondary (11-12)  2011-2012  30.750000
9   Higher Secondary (11-12)  2021-2022  23.947368
10          Secondary (9-10)    2008-09  28.722222
11          Secondary (9-10)    2009-10  27.125000
12          Secondary (9-10)    2010-11  27.958333
13          Secondary (9-10)  2011-2012  35.812500
14          Secondary (9-10)  2021-2022  15.605263
15       Upper Primary (6-8)    2008-09  28.888889
16       Upper Primary (6-8)    2009-10  27.513889
17       Upper Primary (6-8)    2010-11  28.625000
18       Upper Primary (6-8)  2011-2012  32.347222
19       Upper Primary (6-8)  2021-2022  17.052632

In [79]:
import plotly.io as pio
pio.renderers.default='notebook'

In [1]:
bar_chart.show()

NameError: name 'bar_chart' is not defined

In [81]:
df_grouped_year=df_unpivot.groupby(['Education_Level','Year'],as_index=False)[['Ratio']].mean() 
df_grouped_year

             Education_Level       Year      Ratio
0           Primary (1 to 5)    2008-09  35.638889
1           Primary (1 to 5)    2009-10  32.777778
2           Primary (1 to 5)    2010-11  32.666667
3           Primary (1 to 5)  2011-2012  31.222222
4           Primary (1 to 5)  2021-2022  22.263158
5   Higher Secondary (11-12)    2008-09  31.027778
6   Higher Secondary (11-12)    2009-10  30.277778
7   Higher Secondary (11-12)    2010-11  28.500000
8   Higher Secondary (11-12)  2011-2012  30.750000
9   Higher Secondary (11-12)  2021-2022  23.947368
10          Secondary (9-10)    2008-09  28.722222
11          Secondary (9-10)    2009-10  27.125000
12          Secondary (9-10)    2010-11  27.958333
13          Secondary (9-10)  2011-2012  35.812500
14          Secondary (9-10)  2021-2022  15.605263
15       Upper Primary (6-8)    2008-09  28.888889
16       Upper Primary (6-8)    2009-10  27.513889
17       Upper Primary (6-8)    2010-11  28.625000
18       Upper Primary (6-8)  2011-2012  32.347222
19       Upper Primary (6-8)  2021-2022  17.052632

In [97]:
py.bar(df_grouped_year)

AttributeError: module 'chart_studio.plotly' has no attribute 'bar'

In [2]:
import plotly.express as px

In [ ]:
fig_speed = px.bar(df_speed_grouped, x="Service Provider", y="Data Speed(Mbps)", 
             color="Year", text='Data Speed(Mbps)',barmode = 'group')