In [1]:
import pandas as pd

In [2]:
df_all_sc = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers - All Types of Management and School Category during 2021-22.csv')
df_all_m = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers - All Types of Management by Management and Classes Taught during 2021-22.csv')
df_ga_m = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers - Government Aided by Management and Classes Taught during 2021-22.csv')
df_g_m = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers - Government by Management and Classes Taught during 2021-22.csv')
df_o_m = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers - Others by Management and Classes Taught during 2021-22.csv')
df_o_g = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers - Others by Management, Gender and Classes Taught during 2021-22.csv')
df_pu = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers - Private Unaided Recognized by Management and Classes Taught during 2021-22.csv')
df_ga = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers in Government Aided Schools by Management and School Category during 2021-22.csv')
df_g = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers in Government Schools by Management and School Category during 2021-22.csv')
df_pu_sc = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers in Private Unaided Recognized by Management and School Category during 2021-22.csv')

In [36]:
df_pu_sc.columns

Index(['India/State /UT',
       'Number of Teachers in Private Unaided Recognized Schools - Total',
       'Number of Teachers in Private Unaided Recognized Schools - Primary - (1 to 5)',
       'Number of Teachers in Private Unaided Recognized Schools - Upper Primary - (1-8)',
       'Number of Teachers in Private Unaided Recognized Schools - Upper Primary - (6-8)',
       'Number of Teachers in Private Unaided Recognized Schools - Secondary - (1-10)',
       'Number of Teachers in Private Unaided Recognized Schools - Secondary - (6-10)',
       'Number of Teachers in Private Unaided Recognized Schools - Secondary - (9-10)',
       'Number of Teachers in Private Unaided Recognized Schools - Higher Secondary - (1-12)',
       'Number of Teachers in Private Unaided Recognized Schools - Higher Secondary - (6-12)',
       'Number of Teachers in Private Unaided Recognized Schools - Higher Secondary - (9-12)',
       'Number of Teachers in Private Unaided Recognized Schools - Higher Secondary - (11-12)'],
      dtype='object')

In [37]:
df_unpivot_pu_sc = pd.melt(df_pu_sc, id_vars=['India/State /UT'], value_vars=[
       'Number of Teachers in Private Unaided Recognized Schools - Total',
       'Number of Teachers in Private Unaided Recognized Schools - Primary - (1 to 5)',
       'Number of Teachers in Private Unaided Recognized Schools - Upper Primary - (1-8)',
       'Number of Teachers in Private Unaided Recognized Schools - Upper Primary - (6-8)',
       'Number of Teachers in Private Unaided Recognized Schools - Secondary - (1-10)',
       'Number of Teachers in Private Unaided Recognized Schools - Secondary - (6-10)',
       'Number of Teachers in Private Unaided Recognized Schools - Secondary - (9-10)',
       'Number of Teachers in Private Unaided Recognized Schools - Higher Secondary - (1-12)',
       'Number of Teachers in Private Unaided Recognized Schools - Higher Secondary - (6-12)',
       'Number of Teachers in Private Unaided Recognized Schools - Higher Secondary - (9-12)',
       'Number of Teachers in Private Unaided Recognized Schools - Higher Secondary - (11-12)'],var_name='Sub-Category', value_name='Value')
df_unpivot_pu_sc['Category']='Private Unaided Recognized by Management and School Category'

In [38]:
df_unpivot_g = pd.melt(df_g, id_vars=['India/State /UT'], value_vars=[
       'Number of Teachers in Government Schools - Primary - (1 to 5)',
       'Number of Teachers in Government Schools - Upper Primary - (1-8)',
       'Number of Teachers in Government Schools - Upper Primary - (6-8)',
       'Number of Teachers in Government Schools - Secondary - (1-10)',
       'Number of Teachers in Government Schools - Secondary - (6-10)',
       'Number of Teachers in Government Schools - Secondary - (9-10)',
       'Number of Teachers in Government Schools - Higher Secondary - (1-12)',
       'Number of Teachers in Government Schools - Higher Secondary - (6-12)',
       'Number of Teachers in Government Schools - Higher Secondary - (9-12)',
       'Number of Teachers in Government Schools - Higher Secondary - (11-12)'],var_name='Sub-Category', value_name='Value')
df_unpivot_g['Category']='Government Schools by Management and School Category'

In [39]:
df_unpivot_ga = pd.melt(df_ga, id_vars=['India/State /UT'], value_vars=[
       'Number of Teachers in Government Aided Schools - Total',
       'Number of Teachers in Government Aided Schools - Primary - (1 to 5)',
       'Number of Teachers in Government Aided Schools - Upper Primary - (1-8)',
       'Number of Teachers in Government Aided Schools - Upper Primary - (6-8)',
       'Number of Teachers in Government Aided Schools - Secondary - (1-10)',
       'Number of Teachers in Government Aided Schools - Secondary - (6-10)',
       'Number of Teachers in Government Aided Schools - Secondary - (9-10)',
       'Number of Teachers in Government Aided Schools - Higher Secondary - (1-12)',
       'Number of Teachers in Government Aided Schools - Higher Secondary - (6-12)',
       'Number of Teachers in Government Aided Schools - Higher Secondary - (9-12)',
       'Number of Teachers in Government Aided Schools - Higher Secondary - (11-12)'],var_name='Sub-Category', value_name='Value')
df_unpivot_ga['Category']='Government Aided Schools by Management and School Category'

In [40]:
df_unpivot_pu = pd.melt(df_pu, id_vars=['India/State /UT'], value_vars=[
       'Number of Teachers by Classes Taught - Private Unaided Recognized - Total',
       'Number of Teachers by Classes Taught - Private Unaided Recognized - Pre-Primary Only',
       'Number of Teachers by Classes Taught - Private Unaided Recognized - Pre-Primary and Primary',
       'Number of Teachers by Classes Taught - Private Unaided Recognized - Primary Only',
       'Number of Teachers by Classes Taught - Private Unaided Recognized - Primary and Upper Primary',
       'Number of Teachers by Classes Taught - Private Unaided Recognized - Upper Primary Only',
       'Number of Teachers by Classes Taught - Private Unaided Recognized - Upper Primary and Secondary',
       'Number of Teachers by Classes Taught - Private Unaided Recognized - Secondary Only',
       'Number of Teachers by Classes Taught - Private Unaided Recognized - Secondary and Higher Secondary',
       'Number of Teachers by Classes Taught - Private Unaided Recognized - Higher Secondary Only'],var_name='Sub-Category', value_name='Value')
df_unpivot_pu['Category']='Private Unaided Recognized by Management and Classes Taught'

In [41]:
df_unpivot_o_g = pd.melt(df_o_g, id_vars=['India/State /UT'], value_vars=[
       'Number of Teachers by Gender and Classes Taught - Others - Total - Male',
       'Number of Teachers by Gender and Classes Taught - Others - Total - Female',
       'Number of Teachers by Gender and Classes Taught - Others - Total - Total',
       'Number of Teachers by Gender and Classes Taught - Others - Pre-Primary Only - Male',
       'Number of Teachers by Gender and Classes Taught - Others - Pre-Primary Only - Female',
       'Number of Teachers by Gender and Classes Taught - Others - Pre-Primary Only - Total',
       'Number of Teachers by Gender and Classes Taught - Others - Pre-Primary & Primary - Male',
       'Number of Teachers by Gender and Classes Taught - Others - Pre-Primary & Primary - Female',
       'Number of Teachers by Gender and Classes Taught - Others - Pre-Primary & Primary - Total',
       'Number of Teachers by Gender and Classes Taught - Others - Primary Only - Male',
       'Number of Teachers by Gender and Classes Taught - Others - Primary Only - Female',
       'Number of Teachers by Gender and Classes Taught - Others - Primary Only - Total',
       'Number of Teachers by Gender and Classes Taught - Others - Primary & Upper Primary - Male',
       'Number of Teachers by Gender and Classes Taught - Others - Primary & Upper Primary - Female',
       'Number of Teachers by Gender and Classes Taught - Others - Primary & Upper Primary - Total',
       'Number of Teachers by Gender and Classes Taught - Others - Upper Primary Only - Male',
       'Number of Teachers by Gender and Classes Taught - Others - Upper Primary Only - Female',
       'Number of Teachers by Gender and Classes Taught - Others - Upper Primary Only - Total',
       'Number of Teachers by Gender and Classes Taught - Others - Upper Primary & Secondary - Male',
       'Number of Teachers by Gender and Classes Taught - Others - Upper Primary & Secondary - Female',
       'Number of Teachers by Gender and Classes Taught - Others - Upper Primary & Secondary - Total',
       'Number of Teachers by Gender and Classes Taught - Others - Secondary Only - Male',
       'Number of Teachers by Gender and Classes Taught - Others - Secondary Only - Female',
       'Number of Teachers by Gender and Classes Taught - Others - Secondary Only - Total',
       'Number of Teachers by Gender and Classes Taught - Others - Secondary & Higher Secondary - Male',
       'Number of Teachers by Gender and Classes Taught - Others - Secondary & Higher Secondary - Female',
       'Number of Teachers by Gender and Classes Taught - Others - Secondary & Higher Secondary - Total',
       'Number of Teachers by Gender and Classes Taught - Others - Higher Secondary Only - Male',
       'Number of Teachers by Gender and Classes Taught - Others - Higher Secondary Only - Female',
       'Number of Teachers by Gender and Classes Taught - Others - Higher Secondary Only - Total'],var_name='Sub-Category', value_name='Value')
df_unpivot_o_g['Category']='Others by Management, Gender and Classes Taught'

In [42]:
df_unpivot_o_m = pd.melt(df_o_m, id_vars=['India/State /UT'], value_vars=[
       'Number of Teachers by Classes Taught - Others - Total',
       'Number of Teachers by Classes Taught - Others - Pre-Primary Only',
       'Number of Teachers by Classes Taught - Others - Pre-Primary and Primary',
       'Number of Teachers by Classes Taught - Others - Number of Teachers by Classes Taught - Others - Primary Only',
       'Number of Teachers by Classes Taught - Others - Primary and Upper Primary',
       'Number of Teachers by Classes Taught - Others - Upper Primary Only',
       'Number of Teachers by Classes Taught - Others - Upper Primary and Secondary',
       'Number of Teachers by Classes Taught - Others - Secondary Only',
       'Number of Teachers by Classes Taught - Others - Secondary and Higher Secondary',
       'Number of Teachers by Classes Taught - Others - Higher Secondary Only'],var_name='Sub-Category', value_name='Value')
df_unpivot_o_m['Category']='Others by Management and Classes Taught'

In [43]:
df_unpivot_g_m = pd.melt(df_g_m, id_vars=['India/State /UT'], value_vars=[
       'Number of Teachers by Classes Taught - Government - Total',
       'Number of Teachers by Classes Taught - Government - Pre-Primary Only',
       'Number of Teachers by Classes Taught - Government - Pre-Primary and Primary',
       'Number of Teachers by Classes Taught - Government - Primary Only',
       'Number of Teachers by Classes Taught - Government - Primary and Upper Primary',
       'Number of Teachers by Classes Taught - Government - Upper Primary Only',
       'Number of Teachers by Classes Taught - Government - Upper Primary and Secondary',
       'Number of Teachers by Classes Taught - Government - Secondary Only',
       'Number of Teachers by Classes Taught - Government - Secondary and Higher Secondary',
       'Higher Secondary Only'],var_name='Sub-Category', value_name='Value')
df_unpivot_g_m['Category']='Teachers - Government by Management and Classes Taught'

In [44]:
df_unpivot_ga_m = pd.melt(df_ga_m, id_vars=['India/State /UT'], value_vars=[
       'Number of Teachers by Classes Taught - Government Aided - Total',
       'Number of Teachers by Classes Taught - Government Aided - Pre-Primary Only',
       'Number of Teachers by Classes Taught - Government Aided - Pre-Primary and Primary',
       'Number of Teachers by Classes Taught - Government Aided - Primary Only',
       'Number of Teachers by Classes Taught - Government Aided - Primary and Upper Primary',
       'Number of Teachers by Classes Taught - Government Aided - Upper Primary Only',
       'Number of Teachers by Classes Taught - Government Aided - Upper Primary and Secondary',
       'Number of Teachers by Classes Taught - Government Aided - Secondary Only',
       'Number of Teachers by Classes Taught - Government Aided - Secondary and Higher Secondary',
       'Number of Teachers by Classes Taught - Government Aided - Higher Secondary Only'],var_name='Sub-Category', value_name='Value')
df_unpivot_ga_m['Category']='Government Aided by Management and Classes Taught'

In [45]:
df_unpivot_all_m = pd.melt(df_all_m, id_vars=['India/State /UT'], value_vars=[
       'Number of Teachers by Classes Taught - All Types of Management - Total',
       'Number of Teachers by Classes Taught - All Types of Management - Pre-Primary Only',
       'Number of Teachers by Classes Taught - All Types of Management - Pre-Primary and Primary',
       'Number of Teachers by Classes Taught - All Types of Management - Primary Only',
       'Number of Teachers by Classes Taught - All Types of Management - Primary and Upper Primary',
       'Number of Teachers by Classes Taught - All Types of Management - Upper Primary Only',
       'Number of Teachers by Classes Taught - All Types of Management - Upper Primary and Secondary',
       'Number of Teachers by Classes Taught - All Types of Management - Secondary Only',
       'Number of Teachers by Classes Taught - All Types of Management - Secondary and Higher Secondary',
       'Number of Teachers by Classes Taught - All Types of Management - Higher Secondary Only'],var_name='Sub-Category', value_name='Value')
df_unpivot_all_m['Category']='All Types of Management by Management and Classes'

In [46]:
df_unpivot_all_sc = pd.melt(df_all_sc, id_vars=['India/State /UT'], value_vars=[
       'Number of Teachers - All Types of Management - Total',
       'Number of Teachers - All Types of Management - Primary - (1 to 5)',
       'Number of Teachers - All Types of Management - Upper Primary - (1-8)',
       'Number of Teachers - All Types of Management - Upper Primary - (6-8)',
       'Number of Teachers - All Types of Management - Secondary - (1-10)',
       'Number of Teachers - All Types of Management - Secondary - (6-10)',
       'Number of Teachers - All Types of Management - Secondary - (9-10)',
       'Number of Teachers - All Types of Management - Higher Secondary - (1-12)',
       'Number of Teachers - All Types of Management - Higher Secondary - (6-12)',
       'Number of Teachers - All Types of Management - Higher Secondary - (9-12)',
       'Number of Teachers - All Types of Management - Higher Secondary - (11-12)'],var_name='Sub-Category', value_name='Value')
df_unpivot_all_sc['Category']='All Types of Management and School Category'

In [47]:
df_all_sc = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers - All Types of Management and School Category during 2021-22.csv')
df_all_m = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers - All Types of Management by Management and Classes Taught during 2021-22.csv')
df_ga_m = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers - Government Aided by Management and Classes Taught during 2021-22.csv')
df_g_m = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers - Government by Management and Classes Taught during 2021-22.csv')
df_o_m = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers - Others by Management and Classes Taught during 2021-22.csv')
df_o_g = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers - Others by Management, Gender and Classes Taught during 2021-22.csv')
df_pu = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers - Private Unaided Recognized by Management and Classes Taught during 2021-22.csv')
df_ga = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers in Government Aided Schools by Management and School Category during 2021-22.csv')
df_g = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers in Government Schools by Management and School Category during 2021-22.csv')
df_pu_sc = pd.read_csv(f'nos/same/StateUT-wise Number of Teachers in Private Unaided Recognized by Management and School Category during 2021-22.csv')

,India/State /UT,Sub-Category,Value,Category
0,India,Number of Teachers - All Types of Management -...,9507123,All Types of Management and School Category
1,Andaman and Nicobar Islands,Number of Teachers - All Types of Management -...,5281,All Types of Management and School Category
2,Andhra Pradesh,Number of Teachers - All Types of Management -...,320724,All Types of Management and School Category
3,Arunachal Pradesh,Number of Teachers - All Types of Management -...,23707,All Types of Management and School Category
4,Assam,Number of Teachers - All Types of Management -...,352944,All Types of Management and School Category
...,...,...,...,...
402,Telangana,Number of Teachers - All Types of Management -...,21911,All Types of Management and School Category
403,Tripura,Number of Teachers - All Types of Management -...,0,All Types of Management and School Category
404,Uttar Pradesh,Number of Teachers - All Types of Management -...,221,All Types of Management and School Category
405,Uttarakhand,Number of Teachers - All Types of Management -...,133,All Types of Management and School Category
406,West Bengal,Number of Teachers - All Types of Management -...,185,All Types of Management and School Category

In [50]:
df_nos=pd.concat([df_unpivot_all_sc, df_unpivot_all_m,df_unpivot_ga_m,df_unpivot_g_m,df_unpivot_o_m,df_unpivot_o_g,df_unpivot_pu,df_unpivot_ga,df_unpivot_g,df_unpivot_pu_sc], ignore_index = True)

In [51]:
df_nos.to_csv('StateUT-wise Number of Teachers-Categories.csv')

In [52]:
df_1 = pd.read_csv(f'nos/same/Central University-wise Data of Teaching Staff on Ad-hoc, Guest, Contract, Re-employed Faculty, Sanctioned and Vacant Faculty Posts in 46 Central Universities as on 01.10.2021.csv')
df_2 = pd.read_csv(f'nos/same/Central University-wise Total Number of Teachers Appointed from 01-04-2017 to 31-12-2021.csv')
df_3 = pd.read_csv(f'nos/same/StateUTs-wise Vacant Teaching and Non-teaching Staff in Central Universities (in reply to Unstarred Question on 9 February, 2022).csv')

In [53]:
df_1.columns

Index(['Sl. No.', 'Name of the State', 'Name of the University', 'Adhoc',
       'Guest Faculty', 'Contract basis', 'Re-employed', 'Sanctioned Posts',
       'Vacant Posts'],
      dtype='object')

In [54]:
df_2.columns

Index(['Sl. No.', 'Name of Central University',
       'Total Number of Teachers appointed from 01.04.2017 to 31.12.2021'],
      dtype='object')

In [55]:
df_3.columns

Index(['Sl. No.', 'Name of the State', 'Name of the University',
       'No. of Vacancies - (As on 01.10.2021) - Teaching Posts',
       'No. of Vacancies - (As on 01.10.2021) - Non-Teaching Posts',
       'No. of filled up posts during 2021-22 - (From 01.04.2021 to 30.09.2021) - Teaching Posts',
       'No. of filled up posts during 2021-22 - (From 01.04.2021 to 30.09.2021) - Non-Teaching Posts'],
      dtype='object')

In [59]:
df_1['Name of the University']==df_2['Name of Central University']

ValueError: Can only compare identically-labeled Series objects